$login-mobile-breakpoint: 480px;

.loginContainer {
    background-color: rgb(242, 242, 242);
    min-height: calc(100vh - 188px);

    @media screen and (max-height: 830px) {
        min-height: 642px;
    }
}

.loginModal {
    width: 444px;
    background-color: rgb(255, 255, 255);
    padding: 32px;
    margin: 0;
    position: absolute;
    // top: 50%;
    margin-top: 323px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 6px 14px -1px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: $login-mobile-breakpoint) {
        width: 100%;
        height: 100%;
        padding: 20px 20px 96px 20px;
        margin-top: 80px;
    }

    h2 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 600;
        color: rgb(38, 38, 38);
        text-align: center;

        @media screen and (max-width: $login-mobile-breakpoint) {
            font-size: 26px;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            color: rgb(84, 84, 84);
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2px;
            margin-top: 24px;
            margin-bottom: 0;

            div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
            }

            a {
                color: rgb(46, 82, 118);
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.4px;
                line-height: 21px;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &:focus {
                    outline: 2px solid rgb(46, 82, 118);
                    border-radius: 2px;
                }
            }
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            height: 48px;
            border: 1px solid rgb(168, 168, 168);
            color: rgb(38, 38, 38);
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 0px;
            line-height: 30px;
            padding: 0 10px 0 20px;

            &:focus {
                outline: solid 1px rgb(168, 168, 168);
            }
        }

        input[type="submit"] {
            border: none;
            outline: inherit;
            background-color: rgb(46, 82, 118);
            color: rgb(255, 255, 255);
            height: 48px;
            width: 100%;
            text-align: center;
            margin: 32px 0;
            cursor: pointer;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.4px;
            line-height: 21px;
            font-family: "acumin-pro", Helvetica, Arial, sans-serif;

            &:hover,
            &:focus {
                background-color: rgb(69, 122, 176);
            }    
            
            &:disabled {
                background-color:rgba(46, 82, 118, 0.5);
                cursor: not-allowed;
            }
        }

        .errorMessage {
            color: rgb(204, 0, 0);
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0.2px;
            line-height: 24px;
            margin-top: 24px;
        }
    }

    hr {
        margin: 0;
        margin-bottom: 32px;
    }

    .createAccountSection {
        text-align: center;

        h3 {
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0px;
            line-height: 30px;
            margin-bottom: 8px;
        }

        p {
            color: rgb(84,84,84);
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0.2px;
            line-height: 24px;
            margin-bottom: 16px;
        }

        a {
            text-transform: uppercase;
            color: rgb(46, 82, 118);
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.4px;
            line-height: 21px;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &:focus {
                outline: 2px solid rgb(46, 82, 118);
                border-radius: 2px;
            }
        }
    }

}



